.titre-1{
    text-align: center;
}

.titre-2{
    text-align: center;
}

.container{
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
}

.bouton-commande{
    padding: 10px;
    display: block;
    margin : auto;
}

.bouton-acces-compte{
    padding: 10px;
    display: block;
    margin : auto;
}

.bouton-incription{
    padding: 10px;
    display: block;
    margin : auto;
}

.bouton-gestion-données{
    padding: 10px;
    display: block;
    margin : auto;
}

